body, html {
  padding: 0;
  margin: 0;
}
body, html, #root, .main {
  height: 100%;
}
body {
  font-family: 'Muli', sans-serif;
}

.main {
  & > .row {
    margin: 0;
  }
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  padding: 10px;
  overflow: hidden;
}

.panel {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding-top: 70px;
  box-sizing: border-box;

  .results {
    flex-basis: 300px;
    background: #eee;
    height: 100%;
    overflow: scroll;
    position: relative;

    .loading {
      position: absolute;
      left: 50%;
      top: 100px;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  .grid {
    flex: 1;
    margin-left: 20px;
  }
}

.result {
  cursor: move;
  font-size: 13px;
  border-bottom: 1px solid #545454;
  margin-bottom: 10px;
  margin: 5px;
  height: 150px;
  box-sizing: border-box;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    content: '';
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(252,253,254,1) 67%,rgba(255,255,255,1) 68%);
  }

  strong {
    font-weight: 700;
  }

  .result-body {
    display: flex;
  }

  .result-img {
    flex-basis: 30%;
    padding-right: 10px;
  }

  .result-description {
    flex: 1;
  }

  img {
    max-width: 100%;
    border: 1px solid #545454;
  }

  &.result-youtube {
    position: relative;
    border: 0;
    text-align: center;

    &:after {
      display: none;
    }

    img {
      border: 1 solid transparent;
      filter: grayscale(50%);
      max-width: 100%;
      max-height: 200px;
    }

    .result-play {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 40px;
      color: #fff;
      text-shadow: 2px 2px 9px #000;
      z-index: 2;
      cursor: pointer;
    }
  }

  .result-google {
    h4, h5 {
      margin: 0;
    }
  }
}


.grid-row {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  .grid-elem {
    flex: 1;
    height: 200px;
    background: #eee;
    margin: 0 8px 0 8px;
    position: relative;
    border: 1px solid #dedede;

    &.grid-elem-hover {
      background: #927fc1;
      & > * {
        opacity: 0;
      }
    }
  }
}


.grid-default {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #afafaf;

  .drop-here {
    margin-bottom: 20px;
    text-shadow: 2px 2px #ff0000;
    text-shadow: 0px 0px 2px #e4e4e4;

    i {
      font-size: 40px;
      color: #afafaf;
    }
  }
}

.grid-content {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
  background: #3a014c;

  .grid-background {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    img {
      max-width: 100%;
      max-height: 200px;
    }
  }

  .grid-text {
    position: absolute;
    text-align: justify;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow: hidden;
    padding: 0 10px;
  }

  .grid-foot {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #dedede;
    display: flex;

    div:first-child {
      flex: 1;
      padding-left: 10px;
    }
  }

  h3 {
    line-height: 1.27em;
    overflow: hidden;
    height: 1.27em;
    font-size: 1em;
  }

  span {
    height: 1em;
  }

  .grid-type {
    flex-basis: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .grid-play {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 9px #000;
    z-index: 2;
    cursor: pointer;
  }

  .grid-type-youtube {
    color: #cc181e;
  }
}

.preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  z-index: 4;
}

.preview-menu {
  padding: 10px;
  color: #fff;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  background: #000;

  button {
    border: 1px solid #fff;
    background: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  .preview-title {
    margin-left: 20px;
    line-height: 44px;
  }

  h2 {
    margin: 0;
  }
}

.preview-content {
  height: 100%;
  padding: 80px 50px 50px;
  position: relative;
  box-sizing: border-box;

  iframe,
  .text-frame {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .text-frame {
    background: #fff;
    width: 900px;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 20px;
  }

  .preview-btn-left,
  .preview-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 5px;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  .preview-btn-left {
    left: 10px;
  }

  .preview-btn-right {
    right: 10px;
  }
}
